div{
  font-family: arial;
  
}

.container{
  border-width: 1px;
  width: 300px;
  border-style: solid;
  color: grey;
  border-radius: 5px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  

}

.notifications{
  background-color: rgb(38, 121, 254);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}