p{
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

div{
  margin-top: 0px;
  margin-bottom: 0px;
}

.container{
  width: 500px;
  border-style: none;
  border-color: grey;
  border-radius: 6px;
  border-width: 1px;
  border-color: grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35)
  
}

.inbox-row{
 
}

.inbox-text{
  color: rgb(129, 128, 128);
  padding-left: 20px;
  padding-top: 12px;
  font-weight: 500;
  margin-bottom: 20px;

}

.email-preview{
  display: grid;
  grid-template-columns: 90px 1fr;
}

.profile-picture{
  display: inline-block;
  margin-left: 18px;
  margin-top: 10px;
}

img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  
}

.emailinfo{
}

.sender-time-row{
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
  margin-bottom: 6px;

}

.sender-name{
  font-weight: bold;
  font-size: 20px;
}

.time{
  color: rgb(129, 128, 128);
}

.subject{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.message{
  font-size: 18px;
  color: rgb(129, 128, 128);
  margin-bottom: 30px;
}