.product-name{
  font-size: x-large;
  font-weight: bold;
}
<
.price-tag{
  font-weight: bold;
  color: rgb(0, 118, 0);
  font-size: large;
}

.add-to-cart-button{
  height: 35px;
  background-color: rgb(255, 216, 20);
  width: 110px;
  border-style: none;
  border-radius: 17.5px
  
  }