.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width: 860px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 861px) and (max-width: 1040px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.thumbnail-picture{
  width: 100%;
}

.video-thumbnail{
  position: relative;
  margin-bottom: 8px;
}

.video-timer{
  position: absolute;
  bottom: 12px;
  right: 4px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 4px 5px;
}

.vid-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.pp{
  width: 36px;
  border-radius: 18px;
  margin-right: 5px;
}

p{
  font-family: roboto, arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.vid-title{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 20px;

}

.vid-author{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.vid-stats{
  font-size: 12px;
  color: rgb(96, 96, 96)
}